#projects{
        height: calc(100vh- 5rem);
        width: 50%;
        margin: 0 auto;
        overflow: hidden;
        position: relative;
        font-family: 'Roboto', sans-serif;
}
.Projects{
    height: 100vh;
    width: 60vw;
    margin-left: 19em;
    text-align: center;
}
.Projectspan{
    color: red;
    font-size: 3rem;
    font-weight: 700;
}
.Projects1{
    height: 600px;
    width: 700px;
    box-shadow: 5px 5px 5px 5px grey;
    margin-top: 2rem;
    margin-left: 6rem;
}
.ssimg{
    height: 300px;
    width: 700px;
}
.Name{
    font-size: 2rem;
    font-weight: 500;
    margin-top: 2rem;
}
.para2{
    font-family: 'Heebo', sans-serif;
    font-size: 1rem;
    margin-top: 1rem;
}
.para3{
    font-size: 1rem;
    margin-top: 1rem;
    color: black; 
}
.btn2{
    height: 50px;
    width: 80px;
    font-family: 'Heebo', sans-serif;
    border-radius: 10px;
    font-size: medium;
    font-weight: bold;
    gap: 20px;
}
.projectBtn{
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}