.SignupDiv1{
    height: 800px;
    width: 100%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 60px;
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.NyfGqS_Alw8RfFaXWvHUNgHaE_&pid=Api&P=0&h=180');
  background-repeat: no-repeat;
  background-size: cover;
}
.SignupDiv11{
    height: 500px;
    width: 30%;
    margin-left: 32rem;
    margin-top: 50px;
    background-color: #a2006d;
    box-shadow: 5px 5px 5px 5px grey;
}
.SignupDiv12{
    display: flex;
    align-items: center;
}

.googleLogoInput {
    width: 300px;
    height: 50px; 
    padding-left: 40px; 
    background-image: url('https://tse3.mm.bing.net/th?id=OIP.yL98CHypeT0JQEKEVwf_rAHaHa&pid=Api&P=0&h=180'); 
    background-repeat: no-repeat;
    background-size: contain;
    border: 1px solid #ccc; 
    border-radius: 5px; 
    cursor: pointer; 
    margin-left: 90px;
    box-sizing: border-box; 
    pointer-events: none;
    font-size: 14px; 
  font-weight: bold;
  margin-top: 80px;
  }
.SignupDiv11{
    font-size: 20px;
    color: grey;
}
.SignupDiv13{
    width: 300px;
    height: 50px;
    margin-left: 40px;
    border-radius: 5px; 
    border: 2px solid black;
    font-size: 14px; 
    font-weight: bold;
    box-sizing: border-box;
}
.SignupDiv1 button{
    margin-top: 40px;
}
