.divv{
    height: 300px;
    width: 100%;
    display: flex;
    margin-top: 100px;
}
.divleft{
    height: 100%;
    width: 60%;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}
.divleft p{
    color: grey;
}
.divright{
    height: 100%;
    width: 40%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
}
.divright ul{
    text-decoration: green;
}
.divright li{
    font-size: large;
    margin-top: 10px;
}
.divright ul li::marker{
    color: green;
}